__pycache__/
.pytest_cache/
pytest_keys/
*.vault
*.py.swp
*.log

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.snap
docs/build
docs/source
